*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(91, 84, 86);
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(91, 84, 86);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(91, 84, 86);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.news{
    background-color: white;
    color: black;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid black;
    font-weight: 600;
}
.news input{
    height: 45px;
    width: 55%;
    border: 2px solid black;
    outline: none;
    background: white;
    color: black;
    margin-top: 20px;
    font-weight: 600;
}
.news::placeholder{
    color: black;
}
.news p{
    margin: 0;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;

}